.text-main-bg {
    background-color: #EB00D3;
}

.text-main-color {
    color:#EB00D3
}

.discount{
    width: 74px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
    background-color: #EB00D3;
    border-radius: 8px;


}

.enviobtn {
    background-color: rgba(0, 255, 240, 0.2);
    color: rgba(7, 112, 106, 1);
    border: 0.5px solid rgba(7, 112, 106, 1); ;
    width: 114px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    margin-top: 20px;
}

.description {
    background-color: #F5F4F4;
    border-radius: 5px;
    width: 80%;
}

.flavor {
    border-color:#EB00D3;
    color: #EB00D3;
}

.flavor:hover{
    background-color: white ;
    color: #EB00D3;
}

.addcart {
    border-color: #EB00D3;
    background-color: #EB00D3;
    width: 416px;

}

.buttonCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    margin-left: 5px;
    margin-right: 5px;
    height: 28px;
    width: 28px;
    font-weight: bolder;
    border: none;
}

.counter {
    display: flex;
    background-color: rgba(217, 217, 217, 0.17);
    width: 132px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 25px

}

.addcart:hover {
    border-color: #EB00D3;
    background-color: white;
    color: black;
    font-weight:600;
}

.chooseflavor {
    width: 308px;
    height: 69px;
}

.chooseflavor:hover {
    border-color: #EB00D3;

}

.flavorselected {
    color: black;
}

.shipselect {
    border-color: #EB00D3;
}

.shipselect:hover {
    border-color: #EB00D3;
}

.star {
    width: 20px;
    height: 18.95;
    color: #FCA549;
}

.write-comment {
    text-decoration: underline;
    text-decoration-color: black;
}