.hola {
    background-color: #EB00D3;
}

.hola1 {
    color:#EB00D3
}

.enviobtn {
    background-color: #00FFF0;
    color: #007706;
    margin: #007706;
    font-size: smaller;
    font-weight:600;
}

.description {
    background-color: #F5F4F4;
    border-radius: 5px;
    width: 80%;
}

.flavor {
    border-color:#EB00D3;
    color: #EB00D3;
}

.flavor:hover{
    background-color: white ;
    color: #EB00D3;
}

.addcart {
    border-color: #EB00D3;
    background-color: #EB00D3;
    width: 100%;

}

.buttonCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    height: 30px;
    font-weight: bolder;
}

.addcart:hover {
    border-color: #EB00D3;
    background-color: white;
    color: black;
    font-weight:600;
}

.chooseflavor:hover {
    border-color: #EB00D3;

}